#main-header img {
  width: 76%;
  height: 100%;
}

#test{
  width: 100%;
}

#main-header .port-item {
  width: 33.33333333%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
}

.grid-item {
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grid-item:hover{
  transform: scale(1.1);
   transition-duration: .3s;
}

.home-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
}

.bg-black {
  color: #fff;
  background: #000;
}

.fa-react {
  color: #79D8F7
}

.fa-js-square {
  color: #FBD74A
}

.fa-html5 {
  color: #E65333
}

.fa-npm {
  color: #F47E15
}

.fa-css3-alt{
  color: #324CDD
}

.fa-git-alt { 
  color: #F47E15
}

.no-padding-bottom {
  padding-bottom: 0px !important;
}

.heading-background {
  background-color: #04171F;
}

.bg-home {
  background-color: #0C3459;
  border-radius: 0px;
}

.bg-resume {
  border-radius: 0px;
  background-color: #4C97B8;
}

.bg-projects {
  border-radius: 0px;
  background-color: #56B9EC;
}

.card {
  border: none;
}

.resume-card{
  border: 1px solid rgba(0,0,0,.125);
}

/* .card-img-top {
  height: 300px;
  width: 300px; 
} */

@media (max-width: 500px) {
  .grid{
    grid-template-columns: auto;
    row-gap: 50px;
  }

  .spruce {
    display: none;
  }

  .home-grid {
    display: grid;
    grid-template-columns: auto auto;
  }

  .card-deck {
    flex-direction: column-reverse;
  }
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
