<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/views/css/materialize.min.css" media="screen,projection" />
  <!--Import Font Awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link type="text/css" rel="stylesheet" href="/views/css/main.css" />
  <title>Tyler Bray's Website</title>
</head>

<body class='teal lighten-4'>

  <!-- Navbar Section -->
  <header class='main-header'>
    <nav class="transparent">
      <div class="container">
        <div class="nav-wrapper">
          <ul class="right" id='icons'>
            <li>
              <a href="https://www.instagram.com/brayheart/?hl=en" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/brayheart" target='_blank'>
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/feed/" target='_blank'>
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="#contact">Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Showcase -->
    <div class="showcase container">
      <div class="row">
        <div class="col s12 m10 offset-m1 center">
          <!-- <h5 class=""> Hello World </h5> -->
        </div>
      </div>
    </div>
  </header>

  <div class='teal lighten-4'>
    <section class="section container scrollspy" id="services">
      <div class="row">
        <div class="col s12 l4">
          <h2 class="teal-text text-darken-2" id='margin'>What I do..</h2>
          <p>I'm a web deveoper and I'm looking for new projects to work with.</p>
          <p>I have more exposure to front end projects and have experience with: </p>
          <p>Jquery, Javascript, CSS, HTML, Handlebars, Firebase, Heroku, MongoDB, and SQL.</p>
          <p>I'm most comfortable with Vue, React, Node, and Express.</p>
        </div>
        <div class="col s12 l6 offset-l2">
          <!-- tabs -->
          <ul class="tabs">
            <li class="tab col s6">
              <a href="#frontend" class="active teal-text text-darken-2 teal lighten-4">Frontend</a>
            </li>
            <li class="tab col s6">
              <a href="#backend" class="teal-text text-darken-2 teal lighten-4">Backend</a>
            </li>
          </ul>
          <div id="frontend" class="col s12">
            <img src="/views/img/Vue.jpg" alt="vue.js" class='responsive-img col s6 push-s3 m3'>
            <p class='col m9'>Vue and its CLI are easy to start, build, and launch single page applications. I find its sytax, dataflow, and route handling easy to follow.
            </p>
            <p class='col m8'>React's JSX sytax is a mixture of both html and css. This combined with React's state management system makes it my go to for large scale applications. </p>
            <img src="/views/img/react.jpg" alt="react.js" class='responsive-img col s6 push-s3 m4'>
          </div>
          <div id="backend" class="col s12">
            <img src="/views/img/nodejs.jpg" alt="" class='responsive-img col s6 push-s3 m3 offset-m4'>
            <p class='col s12'>Node is an amazing piece of software that allows Javascript to run in the terminal. This allows me to use JS outside the browser and is my go to for all my back end logic. 
            </p>
          </div>
        </div>
      </div>
  </div>
  </div>
  </section>
  </div>

  <!-- Parallax Section -->
  <div class="parallax-container hide-on-small-only">
    <div class="parallax">
      <img src="/views/img/plants.jpg">
    </div>
  </div>
  <div class='teal lighten-4'>

<div class='teal lighten-3'>
    <section class="container section scrollspy" id="photos">
      <div class="row">
        <div class="col s12 l4">
          <!-- GeoNinja Card -->
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="/views/img/GeoNinja.jpg" alt="Geo ninja img" class="responsive-img materialboxed activator cursor">
            </div>
            <div class="card-content">
              <p>
                <a class="activator">Read More</a>
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Geo Ninjas
                <i class="material-icons right">close</i>
              </span>
              <p>This project was done following Shaun Pelling's Udemy Course <a href="https://www.udemy.com/build-web-apps-with-vuejs-firebase/learn/v4/overview" target='_blank'>Build Web Apps with Vue JS 2 & Firebase</a></p>
            </div>
          </div>
        </div>
        <div class="col s12 l6 offset-l1">
          <h2 class="cyan-text text-darken-2">Geo Ninjas</h2>
          <p>See where other ninjas in the world are! Comment on other users pages by clicking on thier map icons.</p>
          <p>See the deployed version <a href="https://geo-ninjas-19466.firebaseapp.com/" target='_blank' class='blue-text text-darken-2'>here!</a></p>
        </div>
      </div>
      <!-- StoryBooks Card -->
      <div class="row">
        <div class="col s12 l4 offset-l1 push-l7">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="/views/img/Storybooks.jpg" alt="" class="responsive-img materialboxed activator cursor">
            </div>
            <div class="card-content">
              <p>
                <a class="activator">Read More</a>
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Story Books
                <i class="material-icons right">close</i>
              </span>
              <p>This project was done following along Brad Traversy's Udemy course <a href="https://www.udemy.com/nodejs-express-mongodb-dev-to-deployment/" target='_blank'>Node.js, Express & MongoDB Dev to Deployment</a></p>
            </div>
          </div>
        </div>
        <div class="col s12 l6 offset-l1 pull-l5 right-align">
          <h2 class="cyan-text text-darken-2">Story Books</h2>
          <p>Share your stories with other users or keep them private. Comment on other users stories and share your thoughts
            on what other users have to say.</p>
            <p>Checkout the project code <a href="https://github.com/Brayheart/storybooks" class='blue-text text-darken-2' target='_blank'>here!</a></p>
        </div>
      </div>
      <!-- Gitfinder card -->
      <div class="row">
        <div class="col s12 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="/views/img/Gitfinder.jpg" alt="" class="responsive-img materialboxed activator">
            </div>
            <div class="card-content">
              <p>
                <a class="activator">Read More</a>
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Gitfinder
                <i class="material-icons right">close</i>
              </span>
              <p>This Project was built following along Brad Travery's youtube channel which you can checkout <a href="https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA" target='_blank'>here!</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 l6 offset-l1">
          <h2 class="cyan-text text-darken-2">Gitfinder</h2>
          <p>Search for Github profiles. See other users profile pictures, popular projects, and more!</p>
          <p>Checkout the project code <a href="https://github.com/Brayheart/gitfinder" target='_blank' class='blue-text text-darken-2'>here!</a></p>
        </div>
      </div>
    </section>
    </div>
  </div>

  <div class="parallax-container hide-on-small-only">
    <div class="parallax">
      <img src="/views/img/bridge.jpg">
    </div>
  </div>

  <!-- Contact Me -->
  <section class="section container scrollspy" id="contact">
    <div class="row">
      <div class="col s12 l5">
        <h2 class="teal-text text-darken-4">Get in Touch</h2>
        <p>Like what you see? Need help on a large project?</p>
        <p>Then send me a message by filling in the contact form on this page!</p>
        <p>Cause I'm super devoted to making you a super amazing website</p>
      </div>
      <div class="col s12 l5 offset-l2">
        <form method='POST' action='send' id='contact'>
          <div class="input-field">
            <i class="material-icons prefix">email</i>
            <input type="email" id="email" name='email' class="validate" required="">
            <label for="email">Your Email</label>
          </div>
          <div class="input-field">
            <i class="material-icons prefix">message</i>
            <textarea id="message" class="materialize-textarea" cols="20" rows="20" name='message'></textarea>
            <label for="message">Your Message</label>
          </div>
          <div class="input-field">
            <p>Services required:</p>
            <p>
              <label>
                <input type="checkbox" name='frontend'>
                <span>Frontend</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox" name='backend'>
                <span>Backend</span>
              </label>
            </p>
          </div>
          <div class="input-field center">
            <button class="waves-effect waves-light btn" type='submit'>Submit<i class="fas fa-paper-plane"></i></button>
          </div>
        </form>
        {{msg}}
      </div>
    </div>
  </section>
  </div>


  <!-- Footer -->
  <footer class="page-footer teal lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Photographers</h5>
          <p class="grey-text text-lighten-4 text-lighten-4">First Image: <a href="https://unsplash.com/@anajlu" target='_blank' class='blue-text text-darken-4'>Uljana Maljutina</a></p>
          <p class="grey-text text-lighten-4 hide-on-small-only text-lighten-4">Third Image: <a href="https://unsplash.com/@blakeverdoorn" target='_blank' class='blue-text text-darken-4'>Blake Richard Verdoorn</a></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <div class="nav-wrapper">
          <h5 class="white-text">Where you can find me</h5>
          <ul class='valign-wrapper'>
            <!-- add social media icons -->
              <li>
                <a href="https://www.instagram.com/brayheart/?hl=en" target="_blank">
                  <i class="fab fa-instagram fa-3x white-text"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/brayheart" target='_blank'>
                  <i class="fab fa-github fa-3x white-text"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/feed/" target='_blank'>
                  <i class="fab fa-linkedin fa-3x white-text"></i>
                </a>
              </li>
          </ul>
        </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018 Copyright Text
      </div>
    </div>
  </footer>





  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="/views/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.parallax').parallax();
      $('ul.tabs').tabs();
    })
  </script>
</body>

</html>