.main-header{
  background: url(/views/img/img3.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

div>img {
  cursor: pointer !important;
}

div>p>a {
  cursor: pointer !important
}

.texture{
    background: url(../img/blue-green.jpg);
    background-size: cover;
    background-position: center;
    min-height: 600px;
}

#services{
  padding: 50px;
}

#photos{
  padding: 80px;
}

#margin{
  margin-top: 0rem !important;
}

.valign-wrapper>li{
  padding: 5px !important;
}

.fa-paper-plane{
  padding-left: 12px !important;
}

@media (max-width: 600px) {
  .main-header{
      background: url(/views/img/img3.jpg);
      background-size: cover;
      background-position: center;
      min-height: 300px;
  }
}